<%- include('header') %>
    <div class="container home">
        <h1 class="my-3">Passport Authentication</h1>
        <!-- <div class="row"> -->
            <div class="child">
                <form class="my-3" action="/login" method="get">
                    <button class="btn btn-outline-primary" type="submit">LOGIN</button>
                </form>
            </div>
            <div class="child">
                <form class="my-3" action="/register" method="get">
                    <button class="btn btn-outline-danger" type="submit">Register</button>
                </form>
            </div>
        <!-- </div> -->
    </div>
<%- include('footer') %>