<%- include ('header') %>
<% if(messages.error){ %>
  <%= messages.error %>
      <% } %>
  <div class="container">
    <form action="/login" method="post">
      <div class="my-3">
        <label for="inputEmail">Email Address</label>
        <input class="form-control" type="text" name="username" placeholder="Email Id">
      </div>
      <div class="my-3">
        <label for="inputEmail">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <button class="btn btn-outline-success" type="submit">Sign in</button>
      <a href="/auth/google" class="btn btn-outline-danger mx-2"><i class="fab fa-google"></i> Sign in With Google</a>
      <a href="/auth/facebook" class="btn btn-outline-primary mx-2"><i class="fab fa-facebook-f"></i> Sign in With Facebook</a>
    </form>
  </div>
  <%- include ('footer') %>