<% include ('header') %>

  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign in</button>
  </form>
  <form action="/auth/google" method="get">
    <button type="submit">Sign In With Google</button>
  </form>
  <form action="/auth/facebook" method="get">
    <button type="submit">Sign In With facebook</button>
  </form>
  <% include ('footer') %>