<%- include ('header') %>
  <div class="container">
    <form action="/register" method="post">
      <div class="my-3">
        <label for="name">Enter Your Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
      </div>
      <div class="my-3">
        <label for="emailId">Enter Your Mail Id</label>
        <input class="form-control" type="text" name="username" placeholder="Email Id">
      </div>
      <div class="my-3">
        <label for="password">Enter Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <button class="btn btn-outline-info my-3" type="submit">Sign Up</button>
    </form>
  </div>
  <%- include ('footer') %>