<%- include('header') %>

  <img class="rounded mx-auto d-block" src="/img/undraw_New_message_re_fp03.png" alt="secret Img" width="500px"
    height="400px">
  <div class="container-fluid my-3 secret">
    <h1>This is Highly confidential</h1>
    <form action="/logout?_method=DELETE" method="post">
      <button class="btn btn-outline-secondary my-3" type="submit">Log Out</button>
    </form>
  </div>


  <%- include ('footer') %>