<%- include('header') %>

<div class="container my-3">
  <h1>This is Highly confidential</h1>
  <form action="/home" method="get">
      <button class="btn btn-outline-secondary" type="submit">Sign Out</button>
    </form>
</div>

<%- include ('footer') %> 